body {
    width: 95%;
    margin: auto;
    font-size: 1.2em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
    vertical-align: top;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.64em;
}

.share-page {
    font-size: 1em;
}