body {
    width: 95%;
    margin: auto;
    font-size: 1.2em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
    vertical-align: top;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    text-decoration: underline;
    color: #838383;
}
.social-icon {
    color: #207994;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #333;
}
footer {
    font-size: 0.64em;
}

.share-page {
    font-size: 1em;
}

.button {
    height: 38px;
}

img {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    max-height: 500px;
    /*width: auto;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-post-image {
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
}

svg {
    width: 22px;
    color: #207994;
    margin-right: 10px;
}

.MathJax { font-size: 0.9em !important; }

figure {
    max-width: 600px;
}