body {
    width: 95%;
    margin: auto;
    font-size: 1.2em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
    vertical-align: top;
}
nav ul li, footer ul li {
    display: inline;
}
a {
    /*text-decoration: underline;*/
    /*font-weight: bold;*/
    color: #00607c;
    text-shadow: 1px 1px 1px #ddf4ff;

}
.social-icon {
    fill: #207994;
}

.social-icon:hover {
    fill: #00a3cb !important;
}


a:hover {
    text-decoration: underline;
    color: #00a3cb;
}
h1 {
    font-size: 2.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #333;
}
footer {
    font-size: 0.64em;
}

.share-page {
    font-size: 1em;
}

.button {
    height: 38px;
}

img {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    max-height: 500px;
    /*width: auto;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-post-image {
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
}

svg {
    width: 30px;
    margin-right: 10px;
}

.MathJax { font-size: 0.9em !important; }

figure {
    max-width: 600px;
}

.speech-baloon-head {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.speech-baloon-head .image-container img {
    border-radius: 50%;
    width: 56px;
    height: 61px;
    position: relative;

}

.speech-baloon-head .text-container {
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.speech-baloon-head .text-container::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 30px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #eaeaea transparent transparent;
}

.speech-baloon-head .text-container a {
    text-decoration: none;
    color: #333;
}

.speech-baloon-head .text-container h5 {
    margin: 1px;
    font-weight: bold;
}