<script type="application/javascript" src="/js/cookie-consent.js" defer></script>

<div id="cookie_directive_container" class="fixed-bottom" style="display: none; background-color: grey; width: 100%">
    <nav class="d-flex align-items-center m-2 justify-content-center pt-4 pb-4" style="width: auto">
        <span class="credit text-white">
            <i class="fa fa-cookie-bite"></i> By using our website you are consenting to our use of cookies in accordance with our <a href="/privacy-policy" target="_blank" class="text-warning" style="text-decoration: underline">cookie policy</a>.
        </span>
        <button class="btn btn-success ml-2" id="cookie_accept" type="button" style="width: auto">Ok!</button>
    </nav>
</div>
