<style>
    #youtube {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        width: 60px;
        fill: red;
        background: white;
    }

    #video-img {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    #video-img-img {
        /*border-top: 10px solid #0b2e13;*/
        /*border-bottom: 10px solid #0b2e13;*/
        border-left: 10px solid #0b2e13;
        border-right: 10px solid #0b2e13;
    }

</style>

<div id="video-img" onclick="loadVid(this)">
  <!--  <img width="560" src="http://i3.ytimg.com/vi/{{ page.video }}/hqdefault.jpg" alt="{{ page.title }}" />-->
  <img id="video-img-img" style="max-width: 560px; width: 100%" src="{{ page.image }}" alt="{{ page.title }}" />
  {% include youtube.svg %}
</div>
<br>

<script type="application/javascript" defer>
  function loadVid(e) {
    let iframe = document.createElement( "iframe" );
    iframe.setAttribute("frameborder", "0" );
    iframe.setAttribute("allowfullscreen", "" );
    iframe.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture");
    // iframe.setAttribute("src", "https://www.youtube.com/embed/{{ page.video }}?rel=0&showinfo=0&autoplay=1" );
    iframe.setAttribute("src", "https://www.youtube-nocookie.com/embed/{{ page.video }}?rel=0&showinfo=0&autoplay=1" );
    iframe.setAttribute("style", `width: ${e.offsetWidth}px; height: ${e.offsetHeight}px;`);

    e.innerHTML = "";
    e.appendChild(iframe);
  }
</script>
