<style>
    #youtube-play {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        opacity: 0.8;
        width: 50px;
        fill: red;
        background: white;
    }

    #video-img {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    #video-img-img {
        /*border-top: 10px solid #0b2e13;*/
        /*border-bottom: 10px solid #0b2e13;*/
        border-left: 10px solid #0b2e13;
        border-right: 10px solid #0b2e13;
    }

</style>

<div id="video-img">
  <div onclick="loadVid(this)">
    <!--  <img width="560" src="http://i3.ytimg.com/vi/{{ page.video }}/hqdefault.jpg" alt="{{ page.title }}" />-->
    <img id="video-img-img" style="max-width: 560px; width: 100%" src="{{ page.image }}" alt="{{ page.title }}" />
    {% include youtube-play.svg %}
  </div>
  <a id="no-js-link" class="small" href="https://www.youtube.com/{{ page.video }}" target="_blank">Watch {{ page.title }} on Youtube</a>
</div>

<script type="application/javascript" defer>
  // empties no-js element
  document.getElementById('no-js-link').innerHTML = '&zwnj;';

  function loadVid(e) {

    let iframe = document.createElement( "iframe" );
    iframe.setAttribute("frameborder", "0" );
    iframe.setAttribute("allowfullscreen", "" );
    iframe.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture");
    // iframe.setAttribute("src", "https://www.youtube.com/embed/{{ page.video }}?rel=0&showinfo=0&autoplay=1" );
    iframe.setAttribute("src", "https://www.youtube-nocookie.com/embed/{{ page.video }}?rel=0&showinfo=0&autoplay=1" );
    iframe.setAttribute("style", `width: ${e.offsetWidth}px; height: ${e.offsetHeight}px;`);

    e.innerHTML = "";
    e.appendChild(iframe);
  }
</script>
