<h5 class="font-italic">Let's connect</h5>

<div class="subscribe-page">

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup" >
        <form action="https://vaclavkosar.us3.list-manage.com/subscribe/post?u=289873d7958b1bdc1c6dc93b7&amp;id=4b8172df11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="d-flex flex-column flex-md-row ">
                <input type="email" value="" name="EMAIL" class="form-control m-1" id="mce-EMAIL" placeholder="email address" style="width: 200px" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_289873d7958b1bdc1c6dc93b7_4b8172df11" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info m-1 mr-2"></div>

<!--                <span style="fill: #138496;">-->
<!--                    <a href="https://twitter.com/intent/follow?screen_name=vackosar" rel="nofollow" target="_blank" title="Follow on Twitter" class="m-1 ml-3" style="width: 10px">{% include twitter.svg %}</a>-->
<!--                    <a href="https://vackosar.github.io/feed.xml" rel="nofollow" target="_blank" title="Follow on RSS" class="m-1">{% include rss.svg %}</a>-->
<!--                    <a href="https://www.facebook.com/vackosar" rel="nofollow" target="_blank" title="Follow on Facebook" class="m-1">{% include facebook.svg %}</a>-->
<!--                </span>-->

                <a class="btn btn-success m-1" style="text-decoration: none; display: inline-block;" href="{{ site.feedback_url }}">
                    Ask Vaclav</a>

            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->

</div>
<div style="height: 10px"></div>
<nav>
    <ul style="text-decoration: none;">
        <!--                <li><a href="/">{% include home.svg %}</a></li>-->
        <li><a href="mailto:admin@vaclavkosar.com">{% include envelope.svg %}</a></li>
        <li><a href="https://twitter.com/vackosar/">{% include twitter.svg %}</a></li>
        <li><a href="https://www.youtube.com/c/VaclavKosar">{% include youtube.svg %}</a></li>
        <li><a href="https://www.linkedin.com/in/vaclav-kosar/">{% include linkedin.svg %}</a></li>
        <li><a href="https://github.com/vackosar">{% include github.svg %}</a></li>
        <li><a href="https://www.facebook.com/vackosar">{% include facebook.svg %}</a></li>
        <li><a href="https://vaclavkosar.com/feed.xml" target="_blank" title="Follow on RSS" class="m-1">{% include rss.svg %}</a></li>
        <li><a href="/donate">{% include donate.svg %}</a></li>
    </ul>
</nav>
<div class="contact">

</div>
