<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <title>{{ page.title }} | Vaclav Kosar - a software & ML engineer</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="google-site-verification" content="WApaW1xBRvOpHp4BXNc0O71vxm1k6P09-s_cgdIu84k" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" 
	  type="image/ico" 
	  href="/favicon.ico">
    <link href="/css/font-awesome/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" type="text/css">
    <script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "Person",
          "name" : "Vaclav Kosar",
          "url" : "https://vaclavkosar.com/",
          "sameAs" : [
            "https://www.facebook.com/vackosar",
            "https://twitter.com/vackosar",
            "https://www.linkedin.com/in/vaclav-kosar-47755863",
            "https://www.youtube.com/channel/UC410o-X5Q_5OGAb0i16oskQ",
            "https://github.com/vackosar"
          ]
        }
    </script>
    {% feed_meta %}
</head>
<body>
<div style="display: flex; justify-content: center;">
    <div style="max-width: 1024px; width: 98.5%;">
        <table>
            <tr>
                <td><img src="/map-face-mirror.webp" width="70" alt="Vaclav Kosar's face photo" style="border-radius: 50%;"></td>
                <td>
                    <h4>Vaclav Kosar</h4>
                    <i>{{ site.description }}</i>
                </td>
            </tr>
        </table>
        <nav>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="https://cz.linkedin.com/in/vaclav-kosar-47755863">CV</a></li>
                <li><a href="https://github.com/vackosar">Code</a></li>
                <li><a href="mailto:admin@vaclavkosar.com">Email</a></li>
                <li>
                    <a href="https://www.facebook.com/media/set/?set=a.634961423347049.1073741827.100004995919188&type=3">Foto</a>
                </li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div>

        <br><br>
    </div>
</div>
</body>
</html>
