<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="google-site-verification" content="WApaW1xBRvOpHp4BXNc0O71vxm1k6P09-s_cgdIu84k" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
    <link rel="stylesheet" type="text/css" href="/css/main-2.css">
    <script src="/js/lazysizes.min.js" async></script>
    {% feed_meta %}
    {% seo %}
    {% if page.extra_meta %}{{ page.extra_meta }}{% endif %}

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="theme-color" content="#000000">
</head>
<body>
<div style="display: flex; justify-content: center;">
    <div style="max-width: 1336px; width: 98.5%;">
        <div class="container speech-baloon-head">
            <div class="image-container">
                <a href="/">
                    <img src="/vaclav-kosar-square-2022.png" alt="Vaclav Kosar's face photo">
                </a>
            </div>
            <div class="text-container">
                <a href="/">
                    <h5>Vaclav Kosar</h5>
                    <i>Welcome back to my blog.</i>
                </a>
            </div>
        </div>
        <div class="container">

            {{ content }}

            <br>
            <div style="text-align: center;">
                <div>
                    <small>
                        <a href="/about-vaclav-kosar" class="m-2">About Vaclav Kosar</a>
                        <a href="/when-is-the-end-of-current-quarter.html" class="m-2">How many days left in this quarter?</a>
                        <a href="/twitter-bullet-points-to-copy-paste.html" class="m-2">Twitter Bullet Points to Copy & Paste</a>
                        <a href="/privacy-policy" class="m-2">Privacy Policy</a>
                    </small>
                </div>
                <div>
                    <small>Copyright © Vaclav Kosar. All rights reserved. Not investment, financial, medical, or any other advice. No guarantee of information accuracy.</small>
                </div>
            </div>
        </div>

        <br><br>
    </div>
</div>

{% include cookie-consent.html %}
{% include feedback-button.html %}


<script defer>
    document.addEventListener('lazybeforeunveil', function(e){
        var bg = e.target.getAttribute('data-bg');
        if(bg){
            e.target.style.backgroundImage = 'url(' + bg + ')';
        }
    });
</script>

</body>
</html>
