<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="https://cz.linkedin.com/in/vaclav-kosar-47755863">CV</a></li>
        <li><a href="https://github.com/vackosar">Code</a></li>
        <li><a href="mailto:vackosar@gmail.com">Email</a></li>
        <li><a href="https://www.facebook.com/media/set/?set=a.634961423347049.1073741827.100004995919188&type=3">Fotos</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div>
</body>
</html>