---
layout: default
---
<header class="mb-4">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% if page.description %}
    <blockquote style="font-style: italic">{{ page.description }}</blockquote>
    {% endif %}
</header>

<div class="post">
    {{ content }}
</div>
<p class="meta" style="text-align: right">
    <small>Created on {{ page.date | date_to_string }}.</small>
{% if page.last_modified_at %}
    <small>Updated on: {{ page.last_modified_at | date_to_string }}.</small>
{% endif %}
    <br>
    <a href="/donate"><img src="/images/thank-you.svg"  alt="Thank you" style="width: 200px"/></a>
</p>

{% include subscribe.html %}
<br><br>

{% if page.category %}
    {% assign category = page.category %}
{% else %}
    {% capture category %}{{ page.categories | first }}{% endcapture %}
{% endif %}

{% assign limit_post_list = 1000 %}
{% if page.limit_post_list %}
    {% assign limit_post_list = page.limit_post_list %}
{% endif %}


{% if page.post_list_text %}
<h2>{{ page.post_list_text }}</h2>
{% else %}
<h2>You'll love also...</h2>
{% endif %}

<div class="container posts">
{% if page.my_related_post_paths.size > 0 %}
    {% for related_post_path in page.my_related_post_paths limit:limit_post_list %}
        {% for post in site.categories[category] %}
            {% if post.path == related_post_path %}
            <div class="row">
                <div style="width: 80%; min-width: 300px; margin-top: 15px;">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title }}" style="text-decoration: none">
                        <div class="lead">{{ post.title| escape }}</div>
                        <small>{{ post.description | escape}}</small>
                    </a>
                </div>
                <div class="">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" style="text-decoration: none">
                        <div class="index-post-image lazyload" data-bg="{{ post.image | default: '/images/white-noise.jpeg' }}"></div>
                    </a>
                </div>
            </div>
            <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    {% if category.size > 0 %}
<!--        {% assign posts = site.categories[category] %}-->
        {% for post in site.categories[category] limit:limit_post_list %}
            {% if post.title != page.title %}
            <div class="row">
                <div style="width: 80%; min-width: 300px; margin-top: 15px;">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" style="text-decoration: none">
                        <div class="lead">{{ post.title| escape }}</div>
                        <small>{{ post.description | escape}}</small>
                    </a>
                </div>
                <div class="">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" style="text-decoration: none">
                        <div class="index-post-image lazyload" data-bg="{{ post.image | default: '/images/white-noise.jpeg' }}"></div>
                    </a>
                </div>
            </div>
            <br>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for post in site.posts limit:limit_post_list %}
            {% if post.title != page.title %}
            <div class="row">
                <div style="width: 80%; min-width: 300px; margin-top: 15px;">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" style="text-decoration: none">
                        <div class="lead">{{ post.title| escape }}</div>
                        <small>{{ post.description | escape}}</small>
                    </a>
                </div>
                <div class="">
                    <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" style="text-decoration: none">
                        <div class="index-post-image lazyload" data-bg="{{ post.image | default: '/images/white-noise.jpeg' }}"></div>
                    </a>
                </div>
            </div>
            <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
</div>

<br><br><br><br>

<!--<div id="disqus_thread"></div>-->
<!--<script defer>-->

<!--    /**-->
<!--     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
<!--     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */-->
<!--    /*-->
<!--    var disqus_config = function () {-->
<!--        this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable-->
<!--        this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
<!--    };-->
<!--    */-->
<!--    (function() { // DON'T EDIT BELOW THIS LINE-->
<!--        var d = document, s = d.createElement('script');-->
<!--        s.src = '//vackosar.disqus.com/embed.js';-->
<!--        s.setAttribute('data-timestamp', +new Date());-->
<!--        (d.head || d.body).appendChild(s);-->
<!--    })();-->
<!--</script>-->
<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
